<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./catalog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Art - Supermarket</title>
    <script defer type="module" src="./catalog.js"></script>
</head>
<body>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   
    <div class="conteiner" >
        <div class="intro">
           
            <span id="search"> <input type="text" id="search_input"> <span id="search_but"> <span><i class="fas fa-search"></i></span> SEARCH </span> <button id="close_search"> X </button> </span>
            <span id="my_account"> <span><i class="fas fa-user-circle"></i></span> MY ACCOUNT</span>
            <span id="log_out">LogOut</span>
        </div>
        <section id="popUp">
            <section id="basket_pop_up" class="basket_pop_up">
                <span class="exit3"><i id="exit3" class="fa-solid fa-x"></i></span>
                <h2> Your Shopping </h2>
                <div id="list">
                    <table id="basket_table">
                        <thead>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Count</td>
                            <td>Sum</td>
                            <td>Remove</td>
                        </thead>
                        <tbody id="basket_table_body">

                        </tbody>
                    </table>
                </div>
                <div id="to_buy">
                    <button id="buy">Buy</button>
                    <section class="total">
                        <p>Total price</p>
                        <p id="totalPrice">0</p>
                    </section>
                </div>
            </section>
        </section>
        <section id="container">
            <section id="login_section">
                <form action="" method="post">
                    <span id="exit1"><i class="fa-solid fa-x"></i></span>
                    <h2>Login to your account</h2>
                    <label for="username">Login</label>
                    <input type="email" autocomplete="off" id="username" placeholder="Username">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password" autocomplete="off">
                    <button id="login">Log In</button>
                    <span class="or">or</span>
                    <button id="create">Create an account</button>
                </form>
            </section>
            <section id="reg_section">
                <form action="" method="post">
                    <span id="exit2"><i class="fa-solid fa-x"></i></span>
                    <h2>Registration</h2>
                    <label for="first_name">Name</label>
                    <input type="text" id="first_name" title="miban" placeholder="name">
                    <label for="last_name">Surname</label>
                    <input type="text" id="last_name" placeholder="Surname">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="email">
                    <label for="password1">Password</label>
                    <div>
                        <input type="password" id="password1" placeholder="Password" autocomplete="off">
                        <i class="fa-solid fa-eye" id="eye"></i>
                    </div>
                    <label for="repeat_pass"> Repeat password</label>
                    <div>
                        <input type="password" id="repeat_pass" placeholder="Repeat password" autocomplete="off">
                        <i class="fa-solid fa-x" id="iffalse"></i>
                        <i class="fa-solid fa-check" id="iftrue"></i>
                    </div>
                    <button id="create1">Create an account</button>
                    <span class="or">or</span>
                    <button id="login1">Log In</button>
                </form>
            </section>

            <section id="order_section">
                <form action="" method="post">
                    <span id="exit4"><i class="fa-solid fa-x"></i></span>
                    <h2>Order</h2>
                    <label for="phone">Phone number</label>
                    <input type="tel" autocomplete="off" id="phone" placeholder="Phone">
                    <label for="address">Address</label>
                    <input type="text" id="address" placeholder="Address" autocomplete="off">
                    <button id="order">Order</button>
                </form>
            </section>
        </section>
        <header>
            <div class="logo" > <a href="../../index.html" translate="no"><span>Just </span>Market</a>  </div>
            <div class="navigation"> 
                <a href="../../index.html">HOME</a>
                <a href="#" id="checked">CATALOG</a>
                <a href="../../index.html#map">CONTACT US</a>
            </div>
            <div id="basket">
                <span> <i class="fas fa-shopping-cart"></i> </span>
                <span >My basket</span>
                <span>(<span id="basket_count">0</span>)</span> 
            </div>
        </header>
        <section id="search_section">

        </section>
        <section id="blur" class="catalog" >
           <nav class="menu_nav">
               <div class="but">
                    <a href="#" id="fastfood_but">FAST-FOOD</a>
                    <a href="#" id="hotmeals_but">HOT MEALS</a>
                    <a href="#" id="seafood_but">SEA FOOD</a>
                    <a href="#" id="salades_but">SALADES</a>
                    <a href="#" id="sweets_but">SWEETS</a>
                    <a href="#" id="drinks_but">Drinks</a>
               </div> 
           </nav>
           <div class="main">
                <div id="fastfood_div"></div>
                <div id="hotmeals_div"></div>
                <div id="seafood_div"></div>
                <div id="salades_div"></div>
                <div id="sweets_div"></div>
                <div id="drinks_div"></div>
           </div>
        </section>
        <footer>
            <div class="foot1">
                <div>
                    <h2><span>JUST</span>MARKET</h2>
                    <p>Copyright &#169 All rights reserved</p>
                </div>
                <span> Phone number +374-91 10 52 22 </span>
                <div class="contact">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
         </footer>
    </div>
</body>
</html>